@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

@font-face {
    font-family: goboldLowplus;
    src: url(../fonts/gobold_lowplus.ttf);
}

header{
    position: relative;
}
header img{
    width: 100%;
    height: 100vh;
}
header .content{
    position: absolute;
    top: 38vh;
    left: 7vw;
    text-align: center;
}
header .content h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 60px;
    color: #4E2B71;
}
header .content h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 36px;
    color: #415F8D;
    margin-top: 30px;
    margin-bottom: 30px;

}
header .content .btn-primary {
    font-size: 30px;
    color: #fff;
    background-color: #4E2B71;
    border-color: #4E2B71;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'goboldLowplus', cursive;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: #4E2B71;
    font-family: 'goboldLowplus', cursive;
    padding: 50px 30px;
}
.bg-light {
    background-color: #fff !important;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.about_us{
    background: url(../images/about_us_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 85px;
    padding-bottom: 85px;
}

.about_us h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 53px;
    color: #4E2B71;
}

.about_right{
    width: 285px;
    margin: unset;
    margin-right: 65px;
    text-align: center;
}
.about_right p{
    margin-top: 150px;
    font-family: 'goboldLowplus', cursive;
    font-size: 18px;
    color: #fff;
}
.about_right .btn-light {
    font-size: 24px;
    color: #4E2B71;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'goboldLowplus', cursive;
    margin-top: 25px;

}
.success {
    padding-top: 50px;
    border-bottom: 1px solid #707070;
}
.success_banner_img{
    position: relative;
}
.success_banner_img img{
    width: 230px;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 15;
}
.success_banner_txt{
    position: relative;
}
.success_box{
    display: block;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 45px;
    width: 465px;
    height: 185px;
    background: #FDFFFC;
    position: relative;
    top: 100px;
    z-index: 10;
}
.success_box h2{
    margin-top: 109px;
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #4E2B71;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}
.count_wrap{
    background: #4E2B71;
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
}
.count_wrap i{
    font-size: 53px;
}
.count_wrap h1{
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-family: 'goboldLowplus', cursive;
}
.count_wrap h3{
    font-size: 18px;
    font-family: 'goboldLowplus', cursive;
    margin-bottom: 0px;
}
.success_count{
    background: #F3F3F3;
    padding-top: 170px;
    padding-bottom: 100px;
    margin-top: 13px;
}

.product_line{
    background: #4E2B71;
    padding-top: 80px;
    padding-bottom: 80px;
}
.product_line h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #fff;
    margin-bottom: 70px;
}


/* Step 1: start with resetting some defaults */

* {
    margin: 0 auto;
    /*padding: 0;*/
    max-width: 100%;
}


/* Step 2: center things inside the grid and clear some space around it by setting a device based max-width and margin*/

.grid {
    text-align: center;
    max-width: 97vw;
    margin: 2.5vw auto;
}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.grid-item {
    padding: 0px;
    box-sizing: border-box;
    display:inline;
    position: relative;
}
.grid-item h4{
    position: absolute;
    top: 50%;
    left: 30%;
    color: #fff;
}

.product_img_left{
    width: 350px;
    height: 295px;
    position: relative;
}
.product_img_left img{
    width: 100%;
}
.product_img_left::after{
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/accessories.png");
    background-size: cover;
    position: absolute;
    top: -40px;
    left: 40px;
}
.product_img_left::before {
    content: "Accessories";
    position: absolute;
    top: 95px;
    left: 140px;
    font-size: 30px;
    color: #fff;
    font-family: 'goboldLowplus', cursive;
    z-index: 99;
}
.product_img_right{
    width: 350px;
    height: 295px;
    position: relative;
}
.product_img_right img{
    width: 100%;
}
.product_img_right::after{
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/home_textile.png");
    background-size: cover;
    position: absolute;
    top: -40px;
    left: -40px;
}
.product_img_right::before {
    content: "Home textile";
    position: absolute;
    top: 95px;
    left: 63px;
    font-size: 30px;
    color: #fff;
    font-family: 'goboldLowplus', cursive;
    z-index: 99;
}


.product_wrap{
    margin-top: 120px;
}

.project_gallery h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #4E2B71;
    margin-top: 70px;
    margin-bottom: 70px;
}
.team{
    background: #F3F3F3;
    margin-top: 70px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.team h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #4E2B71;
}



/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media (min-width: 500px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
    }
}

@media (min-width: 1700px) {
    .grid-item {
        width: 25%;
    }
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}



.carousel-wrap {
    margin: 70px auto;
    padding: 0 5%;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}
.owl-carousel .item h2{
    font-family: 'goboldLowplus', cursive;
    font-size: 30px;
    color: #4B2576;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.owl-carousel .item h4{
    font-family: 'goboldLowplus', cursive;
    font-size: 24px;
    color: #232323;
    text-align: center;
}

/* end fix */
.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}
.owl-carousel .owl-stage {
    max-width: unset !important;
}

.contact{
    background: url("../images/get_in_touch.png");
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #fff;
}
.contact p{
    font-family: 'goboldLowplus', cursive;
    font-size: 24px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact .btn-primary {
    font-size: 36px;
    color: #673E61;
    background-color: #fff;
    border-color: #fff;
    border-radius: 20px;
    padding: 20px 70px;
    font-family: 'goboldLowplus', cursive;
}
.clients{
    padding-top: 60px;
}
.clients h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #4E2B71;
}
.clients .carousel-wrap {
    margin: 60px auto;
    margin-bottom: 50px;
    padding: 70px 5%;
    background: url('../images/client.png');
}
.beautiful_bangladesh{
    padding-top: 10px;
    margin-bottom: 60px;
}
.beautiful_bangladesh h1{
    font-family: 'goboldLowplus', cursive;
    font-size: 48px;
    color: #59A324;
    margin-bottom: 60px;
}
.bb_image_wrap{
    background: #59A324;
    padding-top: 40px;
    padding-bottom: 10px;
}
.bb_image_wrap .row{
    margin-bottom: 30px;
}
.bundle_img .btn-light{
    font-family: 'goboldLowplus', cursive;
    font-size: 21px;
    border-radius: 0;
    color: #4A4A49;
    position: absolute;
    top: 40%;
    left: 38%;
    border-color: #707070;
}
.beautiful_bangladesh img{
    width: 100%;
}
.beautiful_bangladesh h5{
    position: absolute;
    top: 45%;
    left: 40%;
    font-family: 'goboldLowplus', cursive;
    font-size: 24px;
    color: #fff;
}
footer{
    background: #404040;
    padding-top: 40px;
}
footer .container{
    padding-bottom: 70px;
}
.footer_left{

}
.footer_left img{
    width: 35%;
    margin-left: 42px;
}
.footer_left p{
    margin: unset;
    font-size: 16px;
    font-family: 'goboldLowplus', cursive;
    color: #fff;
    max-width: 238px;
    margin-top: 25px;
    margin-bottom: 60px;
}
.footer_left .social a{
    display: inline;
    padding: 10px 13px;
    margin-right: 5px;
    background: #fff;
    font-size: 24px;
    color: #673E61;
    text-decoration: none;
}
.footer_middle a{
    display: block;
    font-size: 18px;
    font-family: 'goboldLowplus', cursive;
    color: #fff;
    text-decoration: none;
    margin-bottom: 19px;
}
.footer_middle h4{
    font-size: 24px;
    font-family: 'goboldLowplus', cursive;
    color: #fff;
    position: relative;
    margin-top: 65px;
    margin-bottom: 25px;
}
.footer_middle h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 33%;
    border-bottom: 3px solid #EEFF03;
}
.footer_right{
    position: relative;
}
.footer_right h4{
    font-size: 24px;
    font-family: 'goboldLowplus', cursive;
    color: #fff;
    position: relative;
    margin-top: 65px;
    margin-bottom: 25px;
}
.footer_right h4:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 37%;
    border-bottom: 3px solid #EEFF03;
}
.footer_right img{
    width: 100%;
    margin-bottom: 20px;
}
.footer_right_text{
    position: absolute;
    top: 0;
    left: 0;
}
.copyRight{
    background: #3E3E3E;
    padding: 15px 10px;
}
.copyRight i{
    color: #fff;
    font-size: 24px;
}
.copyRight p{
    color: #fff;
    font-size: 12px;
    font-family: 'goboldLowplus', cursive;
    margin-bottom: 0px;
}